$body-bg: #fff;
$main-color: #ed1c24;
$txt-color: #0f0f0f;

$white: #fff;
$black: #000;
$gray: #d6d6d6;

$box-shadow: rgba(100, 100, 111, 0.2) 0 7px 19px 7px;
$border: 1px solid $gray;

$header-height: 55px;
$max-width-lg: 1200px;
$max-width-md: 750px;

$pc-width: 993px;
$tablet-width: 601px;

$font-family: "Roboto", sans-serif;
