@use "../../scss/" as *;

.product {
    &__container {
        @include m-width;
        margin-top: $header-height;
        padding-top: 30px;
        margin-bottom: 30px;
    }

    &__header {
        // text-align: center;
        margin-bottom: 30px;
        font-size: 32px;
        text-transform: uppercase;
    }

    &__img {
        // max-height: 350px;
        // overflow: hidden;
    }

    &__list {
        @include grid(1, 30px);

        @include tablet {
            @include grid(2, 30px);
        }

        @include pc {
            @include grid(4, 30px);
        }
    }

    &__details {
        text-align: center;
        padding-top: 15px;
    }

    &__name {
        font-weight: 500;
    }

    &__price {
        font-weight: 700;
    }
}
