@use "../../scss/" as *;

.product {
    @include m-width;
    margin-top: $header-height;
    padding-top: 30px;
    margin-bottom: 30px;

    &__header {
        margin-bottom: 30px;
        font-size: 32px;
        text-transform: uppercase;
    }

    &__list {
        @include grid(1, 30px);

        @include tablet {
            @include grid(2, 30px);
        }

        @include pc {
            @include grid(4, 30px);
        }
    }

    &__details {
        text-align: center;
        padding-top: 15px;
    }

    &__name {
        font-weight: 500;
    }

    &__price {
        font-weight: 700;
    }
}
